{
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": 4 }
      }
    ],
    "@babel/preset-typescript"
  ]
}
